:root { 
   --vermelho: #E50914;
   --preto: #141414;
}





* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Elementos base*/

body { 
    background:var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


header .container { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo { 
    color: var(--vermelho);
    font-family:'Arial Black', Times;
    font-size: 40px;
}

header nav a { 
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{ 
    color: #fff;
   
}



/*Filme principal*/

.filme-principal { 
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100%), url(/img/capa-house.jpg);

   
    height: 400px;
    background-size: cover;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao { 
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    
    cursor: pointer;
}

.botao:hover {
    background-color: white;
    color: black;
    transition: .3s ease all;
}

.botao i {
    margin-right: 5px;
    
}

.botao a {
    text-decoration: none;
    color: white;
}

.botao a:hover {
    color: black;
}

.container { 
    margin-left: 30px;
}


.filme-principal .container {
    width: 70% ;
}


.box-filme { 
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes { 
    margin-top: 5px;
}






/* wapper = envelopar
classe container serve para envelopar tudo que está dentro dela 
classe que guarda arios outros elementos dentro, fica mais facil de manipular os elementos filhos, em vez de fazer um por um vc faz com todos de uma vez. Se o pai tem determinado alinhamento os pais herdam a mesma coisa. Facilita pra trabalhar todos elementos como um todo. Várias caixinhas com botões, pegar todos elementos que etao ali dentro e envelopar todos em um pacote(container) conseguindo movimentar todos eles so que movimentando somente o envelope(caixa)  pode colocar vários containers.*/